.input{
    font-weight: 700;
    width: 100%;

    display: flex;
    flex-direction: column;

    &__labels{
        display: flex;
        width: 100%;
        align-content: space-between;
    }

    &__label{
        font-size: 14px;
        line-height: 14px;
        padding: 0;
    }

    &__grp{
        display: flex;
        position: relative;
        margin-top: 8px;
    }

    &__icon{
        position: absolute;
        color: $gr-cyan;
        top: 16px;
        left: 12px;
    }

    &__box{
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        text-align: right;
        background-color: $gr-cyan-vl;
        border: none;
        font-size: 24px;
        padding: 4px 12px;
        width: 100%;

        border-radius: 4px;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }

        &::placeholder{
            color: $gr-cyan;
        }

        &:focus{
            outline: 2px solid $gr-cyan;
        }

        &:hover{
            outline: 2px solid $gr-cyan-d;
        }

        &:invalid{
            outline: 2px solid $red;
        }
    }
}

#input__labels{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 38px;
}

#input__label, #input__error{
    font-size: 14px;
    color: $gr-cyan-d;
}

#input__error{
    color: red;
}

#bill-input, #diners-input{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    text-align: right;
    background-color: $gr-cyan-vl;
    border: none;
    font-size: 24px;
    padding: 4px 12px;
    width: 100%;
    margin-right: 36px;
    border-radius: 4px;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder{
        color: $gr-cyan;
    }

    &:focus{
        outline: 2px solid $gr-cyan;
    }

    &:hover{
        outline: 2px solid $gr-cyan-d;
    }

    &:invalid{
        outline: 2px solid red;
    }
}

@media only screen and (max-width: 480px) {
    #bill-input, #diners-input{
        margin-right: 0;
    }
}