.tip{
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 24px 0;

    &__label{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    &__options{
        display: grid;

        height: 100%;
        grid-template-columns: repeat(3, minmax(0,1fr));
        grid-template-rows: repeat(2, minmax(0,1fr));
        grid-gap: 12px;
        margin-right: 16px;
    }

    &__option{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        font-weight: 700;
        font-size: 24px;
        background-color: $cyan-vd;
        border-radius: 4px;

        &--custom{
            font-family: 'Space Mono', monospace;
            background-color: $gr-cyan-vl;
            border:none;
            letter-spacing: -1px;
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}