@import './_styling_vars';

.App {
  background-color: $gr-cyan-l;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

}

.cont{
  width: max-content;
  width: 720px;
  height:385px;
  padding: 24px;
  background-color: $white;
  border-radius: 16px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
}

